@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Noto Serif KR";
  src: url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap");
}
@font-face {
  font-family: "Dongle";
  src: url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");
}
@font-face {
  font-family: "Sunflower";
  src: url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap");
}
@font-face {
  font-family: "Nanum Pen Script";
  src: url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
}
@font-face {
  font-family: "Nanum Brush Script";
  src: url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
}
